# Build artifacts
build
node_modules
*.log
coverage
.nyc_output
tsconfig.tsbuildinfo

# VCS
.git
.github
.gitignore

# Development configs
.vscode
.idea
.editorconfig
.eslint*
.nvmrc
.prettierrc.cjs
jest.config.cjs

# Environment
.env*
!.env.example

# Docker
Dockerfile
.dockerignore
docker-compose*

# Documentation
*.md
!README.md

# OS
.DS_Store
